.App {
  margin: 2rem;
}

.paper-card {
  margin-bottom: 2rem;
}

.papers-wrapper {
  margin-top: 2rem;
}

.info-wrapper {
  margin-bottom: 10px;
}

.slide-pane__header {
  margin-top: 2rem;
  background: transparent !important;
  height: auto !important; 
  border-bottom: none !important;
  padding-bottom: 1rem !important;
}

.slide-pane__close {
  padding-top: 2rem !important;
  position: absolute !important;
  float: right !important;
  right: 0 !important;
  top: 0 !important;
}

.slide-pane__title {
  font-size: 36px !important;
}

.slide-pane__subtitle {
  font-size: 16px !important;
}

h5 {
  margin-bottom: 0;
}

.about {
  margin-top: 2rem;
  margin-left: 2rem;
  position: fixed;
  padding-right: 2rem;
}

.title-link {
  text-decoration: none;
}

#about-barchart {
  margin: auto;
  margin-top: 5rem;
  display: block;
  width: 100%;
}

.btn {
  margin: 0.1rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}

.similarity-score {
  margin-left: 1rem;
  color: red;
}