.App {
  margin: 2rem;
}

.paper-card {
  margin-bottom: 2rem;
}

.papers-wrapper {
  margin-top: 2rem;
}

.info-wrapper {
  margin-bottom: 10px;
}

.slide-pane__header {
  margin-top: 1rem;
  background: transparent !important;
  height: auto !important; 
  border-bottom: none !important;
  font-size: 64px;
}